@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    All information logged on this website is private. Your connection, browsing, and information are kept entirely confidential.
</p>
